$dark-blue-1: hsl(217, 28%, 15%); //(intro and email sign up background)
$dark-blue-2: hsl(218, 28%, 13%); //(main background)
$dark-blue-3: hsl(216, 53%, 9%); //(footer background)
$dark-blue-4: hsl(219, 30%, 18%); //(testimonials background)

$cyan: hsl(176, 68%, 64%); //-(inside call-to-action gradient)
$blue: hsl(198, 60%, 50%); //(inside call-to-action gradient)
$light-red: hsl(0, 100%, 63%); //(error)

$white: hsl(0, 0%, 100%);
$ash: rgba(255, 255, 255, 0.828);

$medium-screen: 37.5em;
$large-screen: 56.25em;
$larger-screen: 75em;
